body{
	color: red;
}

.header {
	width: 800px;
	height: 150px;
	border: 1px solid #000;
	position: relative;
}

.logo {
	position: absolute;
	top: 10px;
	left: 20px;
	width: 200px;
	height: 50px;
	border: 1px solid #000;
}

.top-menu{
	position: absolute;
	top: 10px;
	right: 20px;
	width: 250px;
	height: 30px;
	border: 1px solid #000;
}

.menu {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 300px;
	height: 30px;
	border: 1px solid #000;
}